<!--
  This Maven settings file is needed when deploying to our various Maven package repositories. Since it's in a
  nonstandard location, it will only be found when explicitly referenced on the command line, e.g.

    mvn -s config/settings.xml -U clean deploy -DskipTests

  Unfortunately, Maven can only deploy to one package repo at a time.  We therefore use profiles to override the
  default package repo and deploy to the others, one by one.
-->
<settings>
    <servers>
        <server>
            <id>jfrog-maven</id>
            <username>${env.KEL_JFROG_USERNAME}</username>
            <password>${env.KEL_JFROG_REGISTRY_PASSWORD}</password>
        </server>
    </servers>
</settings>